img {
    width:  100%;
    height:  auto;
    margin: 50px 0;
}
.container {
    margin-top: 20px;
    
}
.card {
    border: none;
    background: transparent;
    color: white;
    margin-left: 250px;
}
body{
    background-image: url(/assets/barman.jpeg);
    margin-top: -40px;
    margin-bottom: -40px;
}