
<body>
    <div class="container m-4">
        <div class="card">
            <div class="row g-0">
            <div class="col-md-4">
               <img src="{{ricetta.strDrinkThumb}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h1 class="gradient-text">{{ricetta.strDrink}}</h1>
                <h2>Istruzioni:</h2>
                <p>{{ricetta.strInstructionsIT}}</p>
                <p>{{ricetta.strCategory}}</p>  
                <h3>Ingredienti:</h3>        
                    <p>{{ricetta.strIngredient1}}</p>
                    <p>{{ricetta.strIngredient2}}</p>
                    <p>{{ricetta.strIngredient3}}</p>
                    <p>{{ricetta.strIngredient4}}</p>
                    <p>{{ricetta.strIngredient5}}</p>
                    <p>{{ricetta.strIngredient6}}</p>
                    <p>{{ricetta.strIngredient7}}</p>
                    <p>{{ricetta.strIngredient8}}</p>
                    <p>{{ricetta.strIngredient9}}</p>
                    <p>{{ricetta.strIngredient10}}</p>
                    <p>{{ricetta.strIngredient11}}</p>
                    <p>{{ricetta.strIngredient12}}</p>
                    <p>{{ricetta.strIngredient13}}</p>
                    <p>{{ricetta.strIngredient14}}</p>
                    <p>{{ricetta.strIngredient15}}</p>
                   
                </div>
            </div>
            </div>
        </div>
    </div>
</body>